<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
    <f:layout name="Default"></f:layout>

    <f:section name="content">
        <div class="container-fluid">
            <h1><f:translate key="LLL:EXT:sysfilefinder/Resources/Private/Language/locallang_mod.xlf:find.title" /></h1>
            <f:be.infobox title="Hinweis"><f:translate key="LLL:EXT:sysfilefinder/Resources/Private/Language/locallang_mod.xlf:find.description" /></f:be.infobox>

            <f:form action="index" object="{searchData}" name="searchData">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12-xs">
                        <div class="input-group">
                            <f:form.textfield type="text" property="link" class="form-control" value="{link}" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><f:translate id="search">Suche starten</f:translate></button>
                            </span>
                        </div>
                    </div>
                </div>
            </f:form>
        </div>
        <div class="container-fluid" id="result">
            <f:if condition="{result}"> </f:if>
        </div>
    </f:section>
</html>
